@{
    ViewBag.Title = "Test13";
    Layout = "~/Views/Home/Show.cshtml";
}

<html>
<head>
    <meta charset="UTF-8" />
    <title>Highcharts </title>
  

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="~/Scripts/HighCharts/highcharts.js"></script>
    <script src="~/Scripts/HighCharts/exporting.js"></script>
    <script src="~/scripts/highcharts/grid-light.js"></script>
</head>
<body>
    <div id="container" style="background-color:#fff;width: 550px; height: 400px; margin: 0 auto"></div>
    <script language="JavaScript">
        $(document).ready(function () {
            var chart = {
                type: 'column'
            };
            var title = {
                text: 'XX年至XX年XXX地下水水位比较图'
            };
            var subtitle = {
                text: ''
            };
            var xAxis = {
                //categories: ['太原市', '阳泉市', '长治市', '运城市', '晋中市', '临汾市', '吕梁市', '大同市', '朔州市', '阳泉市', '忻州市'],
                categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                title: {
                    //enabled: true,
                    align: 'high',
                    //  offset: 20,
                    text: '<span style="font-size:12px;">日期</span>',
                    // margin: 100,
                  //  x: 10,
                 //   y: 24
                },
                  // 设置文字竖直显示
                //labels: { 
                //    rotation: 0, 
                //    style: { 
                //        fontSize: '13px', 
                //        fontFamily: 'Verdana, sans-serif',
                //        writingMode:'tb-rl'    //文字竖排样式
                //    }
                //},
            
                crosshair: true,
                // opposite: true, // 设置X轴坐标系倒立显示
            };
            var yAxis = {
                min: 0,
                title: {
                    text: '埋深 (m)'
                },
                // reversed: true,//  设置 值 倒序翻转
            };
            var tooltip = {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                   '<td style="padding:0"><b>{point.y:.2f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            };
            var plotOptions = {
                column: {
                  //  pointPadding: 0.2,
                    borderWidth: 0
                }
            };
            var credits = {
                enabled: false
            };

            var series = [{
                name: '2015',
                data: [16.25   ,
                        16.62,
                        16.39,
                        13.97,
                        12.40,
                        11.65,
                        11.69,
                        12.59,
                        13.22,
                        13.05,
                        12.34,
                        12.60

                     ]
            }, {
                name: '2016',
                data: [12.48 ,
                    12.65,
                    11.77,
                    10.25,
                    8.66,
                    7.70,
                    8.15,
                    8.67,
                    8.57,
                    8.70,
                    8.20,
                    8.22

            ]
            }, {
                name: '2016',
                data: [8.26 ,
                    8.37,
                    8.07,
                    6.63,
                    4.89,
                    3.77,
                    4.32,
                    4.33,
                    4.52,
                    4.93,
                    4.55,
                    4.58


                ]
            }];

            var json = {};
            json.chart = chart;
            json.title = title;
            json.subtitle = subtitle;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.series = series;
            json.plotOptions = plotOptions;
            json.credits = credits;
            $('#container').highcharts(json);

        });
    </script>
</body>
</html>