@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Home/Show.cshtml";
}

<html>
<head>
    <meta charset="UTF-8" />
    <title>Highcharts </title>
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
    <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
    <script language="JavaScript">
        $(document).ready(function () {
            var chart = {
                zoomType: 'xy'
            };
            var colors = [
           ' #4A7EBB',//蓝

        '#9BBB59',//绿
         '#C0504D',//红


            ];
            // 版权信息及链接
            var credits = {
                enabled: false,
                href: 'https://www.baidu.com/'
            };
            var subtitle = {
                text: ''
            };
            var title = {
                text: '地下水位埋深、降水量、地下水开采量对比图3'
            };
            var xAxis = {
                categories: ['2005-1',
                               ' 2005-2  ',
                               ' 2005-3  ',
                               ' 2005-4  ',
                               ' 2005-5  ',
                               ' 2005-6  ',
                               ' 2005-7  ',
                               ' 2005-8  ',
                               ' 2005-9  ',
                               ' 2005-10 ',
                               ' 2005-11 ',
                               ' 2005-12 '],
                title: {
                    enabled: true,
                    text: '日期',
                    x: 200,
                    y:-50
                },
                crosshair: true,
                //  opposite: true, // 设置X轴坐标系倒立显示
            };
            var yAxis = [{ // 第一条Y轴

                lineColor: 'black',  //坐标轴轴线的颜色值
                lineWidth: 1,           //坐标轴轴线的宽度
                //  gridLineColor: 'black',// 网格线颜色
                //  gridLineWidth: 1,      // 网格线宽度
                labels: {
                    format: '',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: '降水量（mm）',
                    rotation: 270,  //  坐标轴标题的选装角度。0 度为水平， 270 是竖直（从下往上）
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true,
                // reversed: true,//  设置 值 倒序翻转
            }, { // 第二条Y轴
                lineColor: 'black',  //坐标轴轴线的颜色值
                lineWidth: 1,           //坐标轴轴线的宽度
                //  gridLineColor: 'black',// 网格线颜色
                //  gridLineWidth: 1,      // 网格线宽度
                title: {
                    text: '地下水位埋深（m）',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
              //  reversed: true,//  设置 值 倒序翻转
            }, { // 第三条Y轴
                //  lineColor: '#FF0000',
                // lineWidth: 1,
                //  gridLineColor: 'black',// 网格线颜色
                // gridLineWidth: 1,      // 网格线宽度
                title: {
                    text: '地下水开采量（万m<sup>3</sup>）',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true,

            }];
            var tooltip = {
                shared: true
            };
            //var legend = {
            //    layout: 'vertical',
            //    align: 'left',
            //    x: 120,
            //    verticalAlign: 'top',
            //    y: 100,
            //    floating: true,
            //    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            //};
            var series = [{
                name: '地下水位埋深',
                type: 'spline',
                yAxis: 1,
                data: [23.75, 23.38,
                        23.61,
                        26.03,
                        27.60,
                        28.35,
                        28.31,
                        27.41,
                        26.78,
                        26.95,
                        27.66,
                        27.40,
                ],
                tooltip: {
                   // valueSuffix: ' mm'
                }

            }, {

                name: '降水量',
                type: 'column',
                data: [0.09,
                        8.77,
                        0.00,
                        17.50,
                        62.46,
                        110.39,
                        81.93,
                        205.68,
                        14.05,
                        0.27,
                        0.00,
                        1.17,
                ],
                tooltip: {
                    //valueSuffix: '\xB0C'
                }
            }, {
                name: '地下水开采量',
                type: 'column',
                yAxis: 2,
                data: [793.66,
                        753.36,
                        1403.29,
                        2711.88,
                        2301.87,
                        2151.36,
                        1758.33,
                        1691.37,
                        1686.24,
                        1509.38,
                        2054.77,
                        1495.10,
                ],
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                   // valueSuffix: ' mb'
                }
            }
            ];

            var json = {};
            json.chart = chart;
            json.colors = colors;
            json.credits = credits;
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            // json.legend = legend;
            json.series = series;
            $('#container').highcharts(json);
        });
    </script>
</body>
</html>
